.container {
    // margin-top: 20px;
    // text-align: center;
    padding-left: 10px;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    font-size: 18px;
    // color: #666;
  }
  
//   .btn {
//     margin-top: 20px;
//   }
  
  .alert {
    margin-top: 20px;
  }